$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #333;


/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
}

/*===== Colores =====*/

:root{
  --first-color: #3664F4;
  --dark-color: #070D1F;
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;
}

/*===== Fonts Typography =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  @media screen and (min-width: 768px){
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== z index =====*/
:root{
  --z-fixed: 100;
}


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
